<!DOCTYPE html>
<html >
<head dir="rtl">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks-Managment Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)


    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/favicon.ico">
    <link href="./Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="./Content/Style.css" rel="stylesheet" />
    <script src="./Scripts/modernizr-2.8.3.js"></script>
</head>
<body style="background:  #BABBB6;font-size:1.6rem;"dir="rtl" >
    <div class="page-wrapper chiller-theme toggled">
        <!-- # -->

        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <!-- sidebar-wrapper  -->
        <nav id="sidebar" class="sidebar-wrapper"dir="rtl" style="text-align:left">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    @*@Html.ActionLink("","index","Home")*@
                    <a href="#">Tasks Managment App</a>

                        <div id="close-sidebar">
                            <i class="fas fa-times"></i>
                        </div>
</div>

                <!-- sidebar-header  -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>General</span>
                        </li>


                        <li>
                            <a href="~/Home">
                                <i class="fa fa-tachometer-alt"></i>
                                <span>Dashboard</span>
                                <span class="badge badge-pill badge-warning">New</span>

                            </a>
                        </li>
                        <li class="sidebar-dropdown">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>E-Tasks</span>
                                <span class="badge badge-pill badge-danger">3</span>
                            </a>
                            <div class="sidebar-submenu">
                                <ul>
                                    <li>
                                        <a href="~/DailyLogTbs">
                                            DailyTask
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/orderTbs">Orders</a>
                                    </li>
                                    <li>
                                        <a href="~/absenceTbs">absence</a>
                                    </li>
                                    @*<li>
                                        <a href="~/DayofWeaks">DayofWeaks</a>
                                    </li>*@
                                    
                                </ul>
                            </div>
                        </li>

                        <li>

                            @Html.Partial("_LoginPartial")

                        </li>
                    </ul>
                    
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            @*<div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>*@
        </nav>
        <!-- sidebar-wrapper  -->
        <div class=" page-content container-fluid">
            @RenderBody()

        </div>

    </div>

    <footer class="text-center " style="padding:5px;bottom:0px;position: fixed;
  bottom: 0;
  width: 100%;">
            <hr />

            <span class="foott">&copy; @DateTime.Now.Year - IT-Department of Hicis</span>
        </footer>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
</body>
</html>


