    @model IEnumerable<WebApplication1.Models.DailyLogTb>


@using PagedList;
@using PagedList.Mvc;

@section style{
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <style>
        #Satement {
            max-width: 1000px;
            width: 100% !important;
            height: 150px !important;
        }
    </style>

}



<html dir="rtl">

@*<Br />
    <i class="fa fa-home fa-fw fa-3x"></i>*@

@*<div style="float:left;width:80%">
    @using (Html.BeginForm("fullsearch", "DailyLogTbs", FormMethod.Post))
    {

        <div class="row form-horizontal">

            @Html.TextBox("search", null, new { @class = "form-control col-md-11", placeholder = "search", style = "max-width:500px" })

            <input type="submit" value="searchName " class="btn btn-outline-primary col-md-2" />|
            @Html.ActionLink("Back To list", "index", new { area = "" }, new { @class = "btn btn-info" })

        </div>

    }
</div>*@

<div style="float:left;width:80%;">
    @using (Html.BeginForm("fullsearch1", "DailyLogTbs", FormMethod.Post))
    {

        <div class="row form-horizontal" style="">

            @Html.TextBox("search1", null, new { @class = "form-control col-md-11", placeholder = "(years-month-Day)  ", style = "max-width:500px" })

            <input type="submit" value="searchData " class="btn btn-outline-secondary col-md-2" />|
            @Html.ActionLink("Back To list", "index", new { area = "" }, new { @class = "btn btn-info" })

        </div>

    }
</div>

<div style="text-align:right ; float:right;width:20%">

    <img style="width: 10rem;" src="~/Content/IT_(2017_film)_logo.svg" />
    <br />
    <br />
    @Html.ActionLink("Print", "Export", "DailyLogTbs", new { area = "" }, new { @class = "btn btn-danger" })


</div>






<br />


<div style="clear:both;text-align:right; ">
    @*@Html.ActionLink("Create New Task", "Create")*@
    @Html.ActionLink("انشاء مهامة جديدة", "Create",null,new {@class="btn btn-info" })


</div>

<table class="table" style="clear:both;">
    <tr>
        <th>
            Day
        </th>
        <th>
           Date
        </th>
        <th style="text-align:right">
            @Html.DisplayNameFor(model => model.Satement)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayofWeak.Day)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDay)
            </td>
            <td style="text-align:right">
                @Html.DisplayFor(modelItem => item.Satement)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" }) 
                @if (User.Identity.IsAuthenticated)
                {
                    @: |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

                }



            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, a => Url.Action("index", new { Page = a }), PagedListRenderOptions.ClassicPlusFirstAndLast)

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $("#search1").datepicker
                ({
                    dateFormat: 'yy-mm-dd',
                    showStatus: true,
                    showWeeks: true,
                    highlightWeek: true,
                    numberOfMonths: 1,
                    showAnim: "clip",
                    //showAnim: "fold",
                    showOptions: {
                        origin: ["top", "left"]
                    }
                });
        });
    </script>
}


</html>
